html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.form-control:focus {
    box-shadow: none !important;
}

.nav-pills .nav-link svg {
    color: #0089e5 !important;
    font-size: 1.4rem;
    margin-right: 8px;
}

.nav-pills .nav-link.active svg,
.nav-pills .show>.nav-link svg,
.nav-pills .nav-link:hover svg {
    color: #fff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #0089e5 !important;
}

.nav-pills .nav-link:hover {
    cursor: pointer;
    background: #0089e5 !important;
    color: #fff;
}

.courses_slider .swiper-slide-next {
    transform: scale(1.1) !important;
}

.courses_slider .swiper-wrapper {
    padding: 30px 0;
}

.banerSection .carousel-indicators {
    width: 90%;
    margin: auto !important;
    z-index: 9 !important;
    opacity: 0;
}

.banerSection .carousel-item {
    height: 100vh;
    position: relative;
}

.banerSection .carousel-item img {
    object-fit: cover;
    object-position: top;
    transition: all 7s ease-in;
}

.banerSection .carousel-item:before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3225665266106442) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
}

.banerSection .active.carousel-item img {
    transform: scale(1.1);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: #0089e5 !important;
    color: #fff !important;
}

.nav-tabs .nav-link {
    border: 0 !important;
    margin: 0 !important;
    margin-right: 5px !important;
}

.nav-tabs {
    border-bottom: 2px solid #0089e5 !important;
}

.testimonials_slider .swiper-pagination {
    bottom: -5px !important;
}

span#basic-addon1 {
    font-size: 25px;
    font-weight: 600;
    color: #444;
    border: none;
    border-right: 2px solid #ddd;
    background-color: #fff;
}

.swiper_steps {
    flex-direction: row-reverse;
}

.swiper_steps .mySwiper2 {
    width: 55%;
}

.swiper_steps .mySwiper2 .swiper-slide {
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.swiper_steps .mySwiper {
    width: 45%;
}

.swiper_steps .swiper-free-mode>.swiper-wrapper {
    flex-direction: column;
    transform: translate(0px) !important;
}

.swiper_steps .mySwiper .swiper-slide {
    width: 80% !important;
    height: max-content;
    margin-bottom: 30px;
    padding-left: 45px;
    position: relative;
    filter: blur(.8px);
    cursor: pointer;
}

.swiper_steps .mySwiper .swiper-slide p {
    font-size: 14px;
    margin-bottom: 0 !important;
}

.swiper_steps .mySwiper .swiper-slide:after {
    content: '';
    height: 100%;
    position: absolute;
    top: 27px;
    border: 1px dashed #ddd;
    left: 15px;
}

.swiper_steps .mySwiper .swiper-slide:before {
    content: '1';
    position: absolute;
    left: 0px;
    background: #ddd;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
}

.swiper_steps .mySwiper .swiper-slide:nth-child(2)::before {
    content: '2';
}

.swiper_steps .mySwiper .swiper-slide:nth-child(3)::before {
    content: '3';
}

.swiper_steps .mySwiper .swiper-slide:nth-child(4)::before {
    content: '4';
}

.swiper_steps .mySwiper .swiper-slide:nth-child(5)::before {
    content: '5';
}

.swiper_steps .swiper-slide-thumb-active {
    filter: blur(0) !important;
}

.swiper_steps .swiper-slide-thumb-active h5 {
    color: #0089e5;
}

.swiper_steps .swiper-slide-thumb-active:before {
    background-color: #0089e5 !important;
    z-index: 10;
    color: #fff;
}

@media (max-width: 768px) {
    .courses_slider .swiper-slide-next {
        transform: inherit !important;
    }
    .swiper_steps .mySwiper .swiper-slide:before {
        height: 20px;
        width: 20px;
        font-size: 12px;
        line-height: 20px;
        top: 0;
    }
    .swiper_steps {
        flex-direction: column-reverse;
    }
    .swiper_steps .mySwiper {
        width: 100%;
    }
    .swiper_steps .swiper-free-mode>.swiper-wrapper {
        flex-direction: row;
    }
    .swiper_steps .mySwiper .swiper-slide {
        width: 19% !important;
        padding-left: 0;
        padding-top: 30px;
    }
    .swiper_steps .mySwiper .swiper-slide:after {
        height: 0;
        top: 10px;
        width: 100%;
        z-index: -1;
    }
    .swiper_steps .mySwiper .swiper-slide h5 {
        font-size: 15px;
    }
    .swiper_steps .mySwiper .swiper-slide p {
        font-size: 12px;
    }
    .swiper_steps .mySwiper2 {
        width: 100%;
    }
}

@media (max-width: 375px) {
    span#basic-addon1 {
        font-size: 21px;
    }
}